<% include ./partials/header %>
<style>
body{
    background-color: #83d7fe;
   font-size:2rem;
    font-weight:50%;
}
 .a1{
   width:250px;
   min-height:250px;
    border:0px solid white;
    border-radius:50%; 
   }
   .intro{
   	margin-left:250px;
   }
   .intro1{
   	margin-left:270px;
   }
   .a2{
   	margin-left:70px;
   }
   .fa-instagram{
   	font-size:2em;
   }
   .n1{
   background:#EEEEEE;
   margin-top:0px;
   }
   .l1{

  font-size:2.5rem;   
   }
</style>
 <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
<header class="jumbotron">
         <div class="container">
             <h1><span class="
glyphicon glyphicon-question-sign"></span> NewsFeed!</h1>
     </header>


     <div class="container n1">
     <ul>
     <li class="l1"><b>Instagram pages of societies</b></li>
     <ol>
     <li><b>EDC</b> (Entreprenuership development cell) : You will find everyone here,even your crush<a href="https://www.instagram.com/edc_tiet/"> <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>


     <li><b>Saturnlia</b> "Society responsible for north india biggest fest"<a href="https://www.instagram.com/saturnalia.thapar/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>

     <li><b>Enactus</b> Phele join kar lena tha feel wali society<a href="https://www.instagram.com/enactus_thapar/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>

     <li><b>Thapar Adventure Club</b>M udna chahta hun,girna bhi bs rukna ni society<a href="https://www.instagram.com/thaparadventureclub/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>

    <li><b>CCS</b> best society,kaafi tough selection should be it's suffix<a href="https://www.instagram.com/ccs_tiet/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>


     <li><b>Econ Society</b>Thapar's very own Economics club that works towards fostering knowledge among everyone with events,Aisa inka instagram handle kehta hai<a href="https://www.instagram.com/econ_tiet/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>

     <li><b>Owasp</b> M coder banega society<a href="https://www.instagram.com/owasp_tiet/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>

     <li><b>ACM Thapar</b> M bhi coder banega society<a href="https://www.instagram.com/acmthapar/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>

     <li><b>GirlUp Tiet</b> As the name suggests <a href="https://www.instagram.com/acmthapar/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>


   

       <li><b>MSC TIET</b> MICROSOFT STUDENT CHAPTER<a href="https://www.instagram.com/msc_tiet/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>

       <li><b>SAIC TIET</b> Student Alumni Interaction Cell<a href="https://www.instagram.com/saic_tiet/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>

       <li><b>ORION TIET</b> Mujhe chand taaron ko kareeb se dekhna hai society<a href="https://www.instagram.com/oriontiet/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>


       <li><b>Virsa thapar</b> Balle balle shawa shawa <a href="https://www.instagram.com/virsa.thapar/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>
     
        <li><b>Thapar Mun Society</b><a href="https://www.instagram.com/thaparmunsociety/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>

     




     </ol>
     <li class="l1"><b>Other pages you can follow to know all gossips</b></li>
     <ol>

      <li><b>Under25Tiet</b> Pass jaldi lelo,celebrity list reveal hojayegi warna(best content to keep you updated)<a href="https://www.instagram.com/under25tiet/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>

      <li><b>humansOfTiet</b> You will find everyone here except yourself,oh poor lad <a href="https://www.instagram.com/humansoftiet/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>

        <li><b>College Times</b> Everyone is here where are you,chitkara?<a href="https://www.instagram.com/the.collegetimes/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>

          <li><b>Student Union</b> the rebels<a href="https://www.instagram.com/student_union_tu/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>

           <li><b>College cult</b> Good content to keep you up<a href="https://www.instagram.com/college.cult/">  <i class="fab fa-instagram" style="font-size:2.5rem;"></i></a></li>




     </ol>

     <li><b>Thodi padhai likhai ki baat karle?</b>
Bhai notes de diyo if ever was a website <a href="https://myherupa.com/">link</a>

     </li>
     
     





     </ul>




     </div>





<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<div>
<img src="../../kyf.jpg" class="img-circle a1">
</div>

<div class="a2">
<h4><b><span style="background-color: #EEEEEE">Abhinav Singh</span></b></h4>
<p><b><span style="background-color: #EEEEEE">Batch of</span></b><span style="background-color: #EEEEEE">  2023</p></span>
</div>
</div>
<div class="col-md-4"></div>
</div>
<div class="intro">

<p><span style="background-color: #EEEEEE">Well, I designed this website and I hope you like it and even share with your friends</span></p>
</div>
<div class="intro1">

<p><span style="background-color: #EEEEEE">Suggest me what I could add next to it(developers are most welcomed)</span>   <a href="https://www.instagram.com/abhinowsng/">  <i class="fab fa-instagram"></i></a></p>

</div>











<% include ./partials/footer %>